name: Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_enabled: false
      python_lint_check_enabled: false
      shell_check_enabled: false
      yamllint_check_enabled: false

  tests:
    name: Tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_exclude_swift_versions: "[{\"swift_version\": \"nightly-main\"},{\"swift_version\": \"nightly-6.3\"}]"
      windows_exclude_swift_versions: "[{\"swift_version\": \"nightly-main\"},{\"swift_version\": \"nightly-6.3\"}]"
